.mainImage{
    width: 500px;   
    height: 500px; 
}

.container{    
    display: flex;
}

.gallery{
    display: flex;
    justify-content: center;
    width: 25%;
}

.thumbnail{
    width: 75px;   
    height: 75px; 
}