<div>
<!-- <app-header></app-header> -->
  <!-- <app-switch></app-switch> -->
  <!-- <app-carousel></app-carousel> -->
  <!-- <app-virtualkb></app-virtualkb> -->
  <!-- <app-players></app-players> -->

  <!-- <div class="container">
    <app-gallery></app-gallery>
    <app-flock></app-flock>
  </div>   -->

  <!-- <app-ajax></app-ajax> -->

  <!-- TP playerManager -->
  <!-- <app-main-player-manager></app-main-player-manager> -->

   <!-- TP CantiUser -->
   <app-users-list></app-users-list>
  
</div>